{% extends 'base_generic.html' %}

{% block title %}Tambah SPP - SPP{% endblock %}

{% block content_header %}
    <h1>Tambah SPP</h1>
{% endblock %}

{% block main_content %}
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_spp">ID SPP:</label>
                    <input type="text" id="id_spp" name="id_spp" class="form-control">
                </div>
                <div class="form-group">
                    <label for="tahun">Tahun:</label>
                    <input type="text" id="tahun" name="tahun" class="form-control">
                </div>
                <div class="form-group">
                    <label for="nominal">Nominal:</label>
                    <input type="text" id="nominal" name="nominal" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Simpan</button>
            </form>
            <a href="{% url 'spp:daftar_spp' %}" class="btn btn-secondary">Kembali ke Daftar SPP</a> <!-- Link untuk kembali ke daftar SPP -->
        </div>
    </div>
{% endblock %}
