{% extends 'base_generic.html' %}

{% block title %}Edit Petugas - SPP{% endblock %}

{% block content_header %}
    <h1>Edit Petugas</h1>
{% endblock %}

{% block main_content %}
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control" value="{{ petugas.username }}">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" value="{{ petugas.password }}">
                </div>
                <div class="form-group">
                    <label for="nama_petugas">Nama Petugas:</label>
                    <input type="text" id="nama_petugas" name="nama_petugas" class="form-control" value="{{ petugas.nama_petugas }}">
                </div>
                <div class="form-group">
                    <label for="level">Level:</label>
                    <select id="level" name="level" class="form-control">
                        <option value="admin" {% if petugas.level == 'admin' %}selected{% endif %}>Admin</option>
                        <option value="petugas" {% if petugas.level == 'petugas' %}selected{% endif %}>Petugas</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Simpan</button>
            </form>
            <a href="{% url 'petugas:daftar_petugas' %}" class="btn btn-secondary">Batal</a> <!-- Link untuk batal dan kembali ke daftar petugas -->
        </div>
    </div>
{% endblock %}
