{% extends 'base_generic.html' %}

{% block content_header %}
  Dashboard
{% endblock %}

{% block main_content %}
  <!-- Main content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Welcome to the Dashboard</h5>
            <p class="card-text">This is the main content area of your dashboard. You can customize it based on your requirements.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
{% endblock %}
